# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Directory for uploaded files (specific to your project)
backend/uploads/

# IDE specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# npm related files
package-lock.json
yarn.lock
